.field {
  border: 3px solid black;
  position: relative;
}

.tank {
  position: absolute;
}

.user-tank {
  background: blue;
}

.ai-tank {
  background-color: black;
}

.shell {
  position: absolute;
  background-color: red;
}

.wall {
  position: absolute;
}

.wall.brick {
  background-color: brown;
  border: 1px solid black;
  box-sizing: border-box;
}
