.field {
  border: 3px solid black;
  position: relative;
}

.unit {
  position: absolute;
}

.user-tank {
  background: blue;
}

.ai-tank {
  background-color: black;
}

.shell {
  background-color: red;
}

.wall.brick {
  background-color: brown;
  border: 1px solid black;
  box-sizing: border-box;
}

.wall.steel {
  background-color: lightgrey;
  border: 1px solid grey;
  box-sizing: border-box;
}

.phoenix {
  background-color: orange;
}
